# Byte-compiled / cache
__pycache__/
*.py[cod]
*.pyo

# Virtual envs
.venv/
venv/
env/

# Packaging
build/
dist/
*.egg-info/

# OS junk
.DS_Store
Thumbs.db

# Editors/IDE
.vscode/
.idea/

# Logs
*.log
