# --- Python ---
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pdb

# --- Virtual environments ---
venv/

# --- OS / Editor files ---
.DS_Store
Thumbs.db
.vscode/
.idea/

# --- Build / Distribution ---
build/
dist/
*.egg-info/
*.spec

# --- Logs / temp files ---
*.log
*.tmp
*.bak

# --- Jupyter checkpoints ---
.ipynb_checkpoints/

# --- Other ---
*.sqlite